$global-size: 10px;

$global-size-font-small: $global-size*1;
$global-size-font-default: $global-size*1.5;
$global-size-font-large: $global-size*3;
$global-size-font-extraLarge: $global-size*4;

$global-size-spacing-small: $global-size*0.5;
$global-size-spacing-default: $global-size*0.8;
$global-size-spacing-large: $global-size*1;
$global-size-spacing-extraLarge: $global-size*3;
