@import './../../../styles/sizes.scss';

#main {
  padding-left: $global-size-spacing-small;
  padding-right: $global-size-spacing-small;

  ion-icon {
    min-width: $global-size-font-small*2;
  }

  ion-label {
    overflow: hidden;
    height: $global-size-font-default;
    padding-left: $global-size-spacing-default;
    padding-right: $global-size-spacing-default;
  }
}

.small {
  zoom: 0.8;

  ion-icon {
    zoom: 0.8;
  }
}

.large {
  zoom: 2;

  ion-label {
    zoom: 1.5;
  }

  ion-icon {
    zoom: 0.4;
  }
}