@import './../../../styles/sizes.scss';

#main {
  width: fit-content;
  color: var(--ion-color-dark);
  font-size: $global-size-font-small;
  
  margin: $global-size-spacing-small;
  padding: $global-size-spacing-small;
  
  border-radius: $global-size-spacing-default;
  background-color: var(--ion-color-warning-shade);
}