@import './../../../styles/sizes.scss';

#main {
  height: $global-size-font-extraLarge;
  overflow: hidden;
  position: relative;
}

#background, #content {
  height: 100%;
}

#background {
  position: relative;

  & > div {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    background-color: var(--ion-color-dark);
  }
}

#content {
  top: 0;
  position: absolute;
  color: var(--ion-color-light);
  font-size: $global-size-font-extraLarge;
}