@import './../../../styles/sizes.scss';

ion-chip.button-effect {
  display:none !important;
}

#main {
  max-width: 100%;
  width: max-content;
  padding-left: $global-size-spacing-default;
  padding-right: $global-size-spacing-default;

  ion-icon {
    min-width: $global-size-font-small*2;
  }

  ion-label {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    height: $global-size-font-default - 1px;
    padding-left: $global-size-spacing-small/2;
    padding-right: $global-size-spacing-small/2;
  }
}

.small {
  zoom: 0.8;

  ion-icon {
    zoom: 0.8;
  }
}

.large {
  zoom: 2;

  ion-label {
    zoom: 1.5;
  }

  ion-icon {
    zoom: 0.4;
  }
}