@import './../../../styles/sizes.scss';

#main {
  max-width: 100%;
  padding-left: $global-size-spacing-small;
  padding-right: $global-size-spacing-small;

  ion-icon {
    min-width: $global-size-font-small*2;
  }

  ion-label {
    overflow: hidden;
    height: $global-size-font-default - 1px;
    padding-left: $global-size-spacing-small/2;
    padding-right: $global-size-spacing-small/2;
  }
}

.small {
  zoom: 0.8;

  ion-icon {
    zoom: 0.8;
  }
}

.large {
  zoom: 2;

  ion-label {
    zoom: 1.5;
  }

  ion-icon {
    zoom: 0.4;
  }
}