<form id="main" #form="ngForm" (ngSubmit)="signUp(form)">
  <ion-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-avatar><img src="./../../assets/icon/favicon.ico" ></ion-avatar>
      </ion-row>
      <ion-title id="title" color="dark">Seja Bem vindo : )</ion-title>
      <ion-row class="form" justify-content-center>
        <em class="formWarning" *ngIf="form.controls.user?.invalid && submitted">faltou preencher aqui...</em>
        <em class="formWarning" *ngIf="alreadyInUse && alreadyInUseName == form.value.user">nome já utilizado...</em>
        <ion-input (ngModel)="user" name="user" required type="text" color="dark" text-center placeholder="digite o seu nome"></ion-input>
      </ion-row>
      <ion-row class="form" justify-content-center>
        <em class="formWarning" *ngIf="form.controls.email?.invalid && submitted">faltou preencher aqui...</em>
        <ion-input (ngModel)="email" name="email" required type="email" color="dark" text-center placeholder="digite o seu e-mail" email></ion-input>
      </ion-row>
      <ion-row class="form" justify-content-center>
        <button id="submitButton" type="submit" matRipple [matRippleCentered]="true">Avançar</button>
      </ion-row>
    </ion-grid>
  </ion-content>
</form>