@import './../../../styles/sizes.scss';

#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--ion-color-dark);
}

#imageBackground {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.15;

  img {
    position: absolute;
    max-width: 300%;
    min-width: 100%;
    min-height: 100%;
  }
}

#content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.borderRadius {
  border-radius: $global-size-spacing-small/2;
}