@import './../../../styles/sizes.scss';

#main {
  width: 150px;
  height: 150px;
}

#content {
  padding: $global-size-spacing-default;
}

#name {
  overflow: hidden;
  height: $global-size-font-large;
  color: var(--ion-color-light);
  font-size: $global-size-font-large;
}