@import './../../../styles/sizes.scss';

#main {
  width: 90vw;
  height: 30vh;
}

#content {
  padding: $global-size-spacing-extraLarge;
}

#name {
  overflow: hidden;
  height: $global-size-font-large;
  color: var(--ion-color-light);
  font-size: $global-size-font-large;
}