<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="content">
    Hello Pedrinho
    <div *ngIf="backgroundGeolocation.myPosition">
      Localização atual:
      <div>Latidute: {{backgroundGeolocation.myPosition.latitude}}</div>
      <div>Longitude: {{backgroundGeolocation.myPosition.longitude}}</div>
      <div>Total de updates: {{backgroundGeolocation.totalGeolocationUpdates}}</div>
      <div *ngIf="backgroundGeolocation.myLocal">
        <div>Estabelecimento comercial:{{backgroundGeolocation.myLocal.display_name}}</div>
      </div>
    </div>
  </div>

</ion-content>
