<div *ngIf="experience">
  <ion-content>
    <backgroundImageWrap [img]="experience.pic | imageURI">

      <div id="content">

        <ion-label color="light">{{experience.name}}</ion-label>

        <ratting [rate]="experience.ratting" [size]="'large'"></ratting>

        <div class="tag" *ngIf="experience.tag">
          <tag class="tag">{{experience.tag}}</tag>
        </div>
        <div class="tag">
          <tag [icon]="'calendar'" [color]="'medium'">{{experience.date | date: 'short'}}</tag>
        </div>
        <div class="tag" *ngIf="experience.comment">
          <tag [icon]="'text'" [color]="'medium'">{{experience.comment}}</tag>
        </div>

      </div>

      <ion-fab vertical="top" horizontal="start" slot="fixed" matRipple>
        <ion-fab-button color="vmdl" size="small">
          <ion-icon id="backButton" name="arrow-back" color="light" size="large" (click)="back()"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </backgroundImageWrap>
  </ion-content>  
</div>

