<div *ngIf="experience">
  <ion-content>
    <backgroundImageWrap [img]="experience.pic | imageURI">

      <div id="content">

        <ion-label color="light">{{experience.name}}</ion-label>

        <ratting [rate]="experience.ratting" [size]="'large'"></ratting>

        <div class="address" *ngIf="experience.address">
          <tag class="tag" [icon]="'pin'" [color]="'danger'">{{experience.address | addressComplete}}</tag>
        </div>
        <div class="tag">
          <tag [icon]="'calendar'">{{experience.date | date: 'short'}}</tag>
        </div>
        <div class="tag" *ngIf="experience.occasion">
          <tag class="tag" [icon]="'walk'" [color]="'success'">{{experience.occasion}}</tag>
        </div>
        <div class="tag" *ngIf="experience.tag">
          <tag class="tag" [icon]="'pricetag'" [color]="'light'">{{experience.tag}}</tag>
        </div>
        <div class="tag" *ngIf="experience.comment">
          <tag [icon]="'text'">{{experience.comment}}</tag>
        </div>

      </div>

      <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="vmdl" size="small">
          <ion-icon id="backButton" name="arrow-back" color="light" size="large" (click)="back()"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </backgroundImageWrap>
  </ion-content>  
</div>

