@import './../../styles/sizes.scss';

#header {
  & > div {
    display: flex;

    ion-avatar {
      height: $global-size-spacing-extraLarge + $global-size-spacing-small*2;
      width: $global-size-spacing-extraLarge + $global-size-spacing-large*2;
      margin: $global-size-spacing-large + $global-size-spacing-small;

      img {
        width: $global-size-spacing-extraLarge + $global-size-spacing-large;
        height: $global-size-spacing-extraLarge + $global-size-spacing-large;
      }
    }

    .onRefresh {
      animation: onRefresh 1.5s;
    }
  
    @keyframes onRefresh {
      from {
        transform: scale(.8);
      }
    }

    ion-title {
      font-weight: 300;
    }
  }
}

#content {
  .panel {
    border-radius: 0;
    margin-bottom: 1px;

    .panelHeader {
      justify-content: space-between;
      align-items: center;
      margin: 0;

      .tabIcon {
        zoom: 1.5;
      }
    }

    .panelContent {
      max-height: calc(100vh - 321px);
      overflow: auto;
    }

    #statistics {

      .statisticValue {
        margin-left: auto;
      }
    }

    #experiences {
      display: flex;
      flex-wrap: wrap;
    
      .experience {
        margin-bottom: $global-size-spacing-default;
      }
    }
  }
}