<ion-header>
  <ion-toolbar id="header">
    <div>
      <ion-avatar [class.onRefresh]="onRefresh" (click)="refresh()"><img src="./../../assets/icon/favicon.ico"></ion-avatar>
      <ion-title>Minhas Experiências</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <mat-accordion>
    <mat-expansion-panel class="panel" [(expanded)]="achievementsOpened" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description class="panelHeader">
          Conquistas
          <ion-icon class="tabIcon" [class.tabOpened]="achievementsOpened" name="trophy"></ion-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panelContent">
        <mat-grid-list  cols="4" rowHeight="100px" gutterSize="8px">
          <mat-grid-tile *ngFor="let achievement of myExperiences?.achievements"
            [colspan]="2"
            [rowspan]="1">
            <achievement
              [achievement]="achievement">
            </achievement>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <tag *ngIf="myExperiences?.achievements.length == 0" [icon]="'sad'" [color]="'danger'" [fontColor]="'dark'">Você ainda não possui conquistas</tag>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel" [(expanded)]="statisticsOpened" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description class="panelHeader">
          Estatísticas
          <ion-icon class="tabIcon" [class.tabOpened]="statisticsOpened" name="stats"></ion-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list class="panelContent">
        <mat-list-item *ngFor="let statistic of myExperiences?.statistics">
          <img src="{{statistic.img | imageURISync}}" matListAvatar>
          <h3 matLine>{{statistic.name}}</h3>
          <tag class="floatRight" [color]="'danger'" [fontColor]="'dark'">{{statistic.value}}</tag>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <tag *ngIf="myExperiences?.statistics.length == 0" [icon]="'sad'" [color]="'danger'" [fontColor]="'dark'">Você ainda não possui estatísticas</tag>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel" [(expanded)]="experiencesOpened" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description class="panelHeader">
          Atividades
          <ion-icon class="tabIcon" [class.tabOpened]="experiencesOpened" name="pin"></ion-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panelContent">
        <tag *ngIf="myExperiences?.experiences.length == 0" [icon]="'sad'" [color]="'danger'" [fontColor]="'dark'">Você ainda não possui atividades</tag>
        <mat-list >
          <mat-list-item *ngFor="let experience of myExperiences?.experiences" (click)="navigate(experience)">
            <img src="{{experience.pic | imageURISync}}"matListAvatar>
            <h3 matLine>{{experience.name}}</h3>
            <tag class="floatRight" *ngIf="experience.date" [icon]="'calendar'" [size]="'small'" [fontColor]="'dark'">{{experience.date | date: 'short'}}</tag>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>
