<ion-header id="header">
  <ion-toolbar>
    <ion-title>Minhas Experiências</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-list>
    <ion-item>
      <ion-icon name="ribbon"></ion-icon>
      <ion-label class="achievementTitle">Total de experiências</ion-label>
      <ion-badge *ngIf="myExperiences">{{myExperiences.experiences.length}}</ion-badge>
    </ion-item>
    <ion-item *ngFor="let achievement of myExperiences?.achievements">
      <ion-icon name="trophy"></ion-icon>
      <ion-label class="achievementTitle">{{achievement.title}}</ion-label>
      <ion-badge *ngIf="myExperiences">{{achievement.value}}</ion-badge>
    </ion-item>
  </ion-list>
  
  <div id="experiences" *ngIf="myExperiences">
    <experience class="experience" *ngFor="let experience of myExperiences.experiences" [experience]="experience"></experience>
    <div *ngIf="myExperiences.experiences.length == 0">
      <tag [icon]="'sad'" [color]="'danger'" [fontColor]="'dark'">Você ainda não registrou nenhum experiência</tag>
    </div>
  </div>
</ion-content>
