@import './../../styles/sizes.scss';

#header {
  & > div {
    display: flex;

    ion-avatar {
      height: $global-size-spacing-extraLarge + $global-size-spacing-small*2;
      width: $global-size-spacing-extraLarge + $global-size-spacing-large*2;
      margin: $global-size-spacing-large + $global-size-spacing-small;

      img {
        width: $global-size-spacing-extraLarge + $global-size-spacing-large;
        height: $global-size-spacing-extraLarge + $global-size-spacing-large;
      }
    }

    ion-title {
      font-weight: 300;
    }
  }
}

.panel {
  border-radius: 0;
  margin-bottom: 1px;

  .panelHeader {
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .tabIcon {
      zoom: 1.5;
    }
  }

  .tabOpened {
    color: var(--ion-color-danger-tint);
  }

  .panelContent {
    height: calc(100vh - 321px);
    overflow: auto;
  }

  .floatRight {
    margin-left: auto;
    font-size: 12px;
  }
}