@import './../../../styles/sizes.scss';

#main {

}

#header > div {
  font-weight: 900;
  font-size: $global-size-font-default;
  color: rgba(var(--ion-color-dark-rgb), 0.8);
}

#content {
  display: flex;
  overflow: auto;
}

.role {
  margin-top: $global-size-spacing-large;
  margin-left: $global-size-spacing-large;
  margin-right: $global-size-spacing-large;
}

#content div {
  margin-left: 0;
}

