@import './../../../styles/sizes.scss';

#main {

}

#header > div {
  font-weight: 900;
  font-size: $global-size-font-default;
  color: var(--ion-color-dark-tint);
}

#content {
  display: flex;
  overflow: auto;
}

.role {
  margin: $global-size-spacing-large;
}

#content div {
  margin-left: 0;
}

