@import './../../../styles/sizes.scss';

#main {

}

#header {
  border-bottom: 1px solid var(--ion-color-medium-shade);

  & > div {
    font-weight: 300;
    font-size: $global-size-font-default;
    color: var(--ion-color-dark-tint);
    margin-bottom: $global-size-spacing-default;
  }
}

#content {
  display: flex;
  overflow: auto;
}

.role {
  margin: $global-size-spacing-large;
}

#content div {
  margin-left: 0;
}

