@import './../styles/sizes.scss';

#content {
  min-height: 74vh;
}

#nameForm {
  height: $global-size-spacing-extraLarge*2;
  margin: $global-size-spacing-extraLarge;

  & > ion-chip {
    padding: $global-size-spacing-extraLarge;

    & > ion-label {
      width: 100%;
      overflow: hidden;
      word-break: break-all;
      height: $global-size-font-extraLarge;
      font-size: $global-size-font-extraLarge;
      padding-left: $global-size-spacing-large;
      padding-right: $global-size-spacing-large;
    }
  }

  & > ion-icon {
    position: absolute;
    right: $global-size-spacing-extraLarge;
    top: $global-size-spacing-extraLarge + $global-size-spacing-default;
  }

  & > div {

    & > div {
      text-align: center;

      & > ion-icon {
        vertical-align: bottom;
      }
  
      & > ion-label {
        font-size: $global-size-font-large;
        margin-left: $global-size-spacing-default;
      }
    }

    & > ion-input {
      margin-top: $global-size-spacing-large;
    }
  }
}

#ratting {
  zoom: 1.3;
}

#tag {
  height: $global-size-spacing-extraLarge;
  padding-top: $global-size-spacing-large;
}

#newTag {
  display: flex;

  & > ion-icon {
    position: absolute;
    right: $global-size-spacing-extraLarge;
  }
}

.tagChip {
  padding: $global-size-spacing-default;
}

#image {
  margin-top: $global-size-spacing-large;
}

#picture {
  width: 80%;
}

#addPictureButton { 
  width: 50%;
  position: absolute;
  bottom: $global-size-spacing-large;
}