<form *ngIf="contentReady" [formGroup]="form" (ngSubmit)="addExperience(form.value, form.valid)">
  <ion-content id="content">
    <backgroundImageWrap [img]="pic.value">
      <ion-grid>

        <ion-row id="nameForm" justify-content-center>
          <role-tag *ngIf="name.value" [icon]="'pin'" [size]="'large'" [close]="true" (onClose)="name.setValue(null); tag.setValue(null); currentRole = null">{{name.value}}</role-tag>
          <ion-icon *ngIf="currentRoles && currentRoles.length > 0" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('roles')"></ion-icon>
          <div *ngIf="!name.value">
            <div>
              <ion-icon name="trophy" size="large" color="warning"></ion-icon>
              <ion-label color="light">Novo Rolê</ion-label>
            </div>
            <ion-input id="nameInput" (keyup.enter)="addName()" (focusout)="addName()" type="text" color="light" text-center placeholder="digite o nome rolê"></ion-input>
          </div> 
        </ion-row>

        <ion-row id="rattingForm" justify-content-center>
          <role-rating
            [size]="'large'"
            [rate]="ratting.value" 
            (onRate)="ratting.setValue($event)">
          </role-rating>
        </ion-row>

        <ion-row id="tagForm" justify-content-center>
          <role-tag *ngIf="tag.value" [close]="true" (onClose)="tag.setValue(null)">{{tag.value}}</role-tag>
          <ion-icon *ngIf="currentRole" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('tags')"></ion-icon>
          <ion-input *ngIf="!tag.value" id="tagInput" (keyup.enter)="addTag()" (focusout)="addTag()" type="text" color="light" size="large" text-center placeholder="digite a tag do rolê" ></ion-input>
        </ion-row>

        <ion-row id="imageForm" justify-content-center>
          <ion-button (click)="addPicture()" color="warning" fill="outline">
            <ion-icon name="camera" size="large" color="light"></ion-icon>
          </ion-button>
        </ion-row>

      </ion-grid>
    </backgroundImageWrap>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button type="submit" [disabled]="form.invalid" expand="block" color="medium">Add Experiência</ion-button>
    </ion-toolbar>
  </ion-footer>
</form>