@import './../styles/sizes.scss';

#content {
  min-height: 74vh;
}

#nameForm {
  height: $global-size-spacing-extraLarge*2;
  margin-top: $global-size-spacing-extraLarge;
  margin-bottom: $global-size-spacing-extraLarge;
  margin-right: $global-size-spacing-extraLarge + $global-size-spacing-large;
  margin-left: $global-size-spacing-extraLarge + $global-size-spacing-large;

  & > ion-chip {
    padding-top: $global-size-spacing-extraLarge;
    padding-bottom: $global-size-spacing-extraLarge;
    padding-right: $global-size-spacing-large;
    padding-left: $global-size-spacing-large;
    border-radius: $global-size-spacing-extraLarge*2;

    & > ion-label {
      width: 100%;
      overflow: hidden;
      word-break: break-all;
      height: $global-size-font-extraLarge;
      font-size: $global-size-font-extraLarge;
      padding-left: $global-size-spacing-large;
      padding-right: $global-size-spacing-large;
    }
  }

  & > ion-icon {
    position: absolute;
    right: $global-size-spacing-large;
    top: $global-size-spacing-extraLarge + $global-size-spacing-large + $global-size-spacing-small;
  }

  & > div {

    & > div {
      text-align: center;

      & > ion-icon {
        vertical-align: bottom;
      }
  
      & > ion-label {
        font-size: $global-size-font-large;
        margin-left: $global-size-spacing-default;
      }
    }

    & > ion-input {
      margin-top: $global-size-spacing-large;
    }
  }
}

#rattingForm {
  zoom: 1.3;
}

#tagForm {
  margin-top: $global-size-spacing-extraLarge;
  margin-bottom: $global-size-spacing-extraLarge;
  margin-right: $global-size-spacing-extraLarge + $global-size-spacing-large;
  margin-left: $global-size-spacing-extraLarge + $global-size-spacing-large;

  & > ion-chip {
    padding: $global-size-spacing-default;

    & > ion-label { 
      overflow: hidden;
      word-break: break-all;
      height: $global-size-font-default;
      font-size: $global-size-font-default;
      padding-right: $global-size-spacing-default;
      padding-left: $global-size-spacing-default;
    }
  }

  & > ion-icon {
    position: absolute;
    right: $global-size-spacing-large;
  } 

  & > ion-input {
    margin-left: $global-size-spacing-extraLarge;
    margin-right: $global-size-spacing-extraLarge;
  }
}

#imageForm {

  & > ion-button {
    width: 50%;
    position: absolute;
    bottom: $global-size-spacing-large;
  }
}