<div id="main" *ngIf="role" (click)="navigate()" matRipple [matRippleCentered]="true">
  <backgroundImageWrap [img]="role.pics[role.pic] | imageURI" [borderRadius]="true">
    <div id="content">
      <div style="display: flex;">
        <div style="width: 100%; display: grid;">
          <div id="name">{{role.name}}</div>
          <ratting [rate]="role.ratting.average" [size]="'default'"></ratting>
        </div>
      </div>
      <div id="bottonLine">
        <div id="tags">
          <div style="display: flex;">
            <tag class="tag" [icon]="'pin'" [size]="'small'" [color]="'danger'">{{role.address.split('-')[1].split(',')[0]}}</tag>
            <tag *ngIf="role.occasions?.length > 0" class="tag" [icon]="'walk'" [size]="'small'" [color]="'success'">{{role.occasions[0]}}</tag>
            <tag *ngIf="role.tags?.length > 0" class="tag" [icon]="'pricetag'" [size]="'small'" [color]="'light'">{{role.tags[0]}}</tag>
          </div>
        </div>
      </div>    
    </div>
  </backgroundImageWrap>
</div>