@import './../../../styles/sizes.scss';

$width: 300px;

#main {
  width: $width;
  height: 180px;
}

#content {
  padding: $global-size-spacing-default;
}

#name {
  overflow: hidden;
  height: $global-size-font-large;
  color: var(--ion-color-light);
  font-size: $global-size-font-large;
}

#bottonLine {
  position: absolute;
  bottom: $global-size-spacing-large;
  max-width: $width - $global-size-spacing-default*2;
}

#rattings {
  float: right;
  margin-top: -4px;
}

#tags {
  overflow: auto;
}

.tag {
  margin-right: $global-size-spacing-small;
}
