@import './../../../styles/sizes.scss';

#main {
  width: 90vw;
  height: 30vh;
}

#content {
  padding: $global-size-spacing-default;
}

#name {
  overflow: hidden;
  height: $global-size-font-large;
  color: var(--ion-color-light);
  font-size: $global-size-font-large;
}

#bottonLine {
  position: absolute;
  bottom: $global-size-spacing-large;
  width: 85vw;
}

#address {
  float: right;
  margin-top: -2px;
}

#rattings {
  float: right;
  margin-top: -4px;
}

#tags {
  overflow: scroll;
}

.tag {
  margin-right: $global-size-spacing-small;
}
