@import './../../../styles/sizes.scss';

#main {  
  width: 47vw;
  height: 15vh;
  margin-right: $global-size-spacing-large;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); 

  #icon {
    zoom: 2.5;
    width: 100%;
    padding-top: $global-size-spacing-small;
  }

  #title {
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    margin-top: $global-size-spacing-small;
    margin-left: $global-size-spacing-large;

    color: var(--ion-color-light);
  }

  .largeTitle {
    font-size: $global-size-font-small*2 !important;
    margin-top: $global-size-spacing-small + $global-size-spacing-large*2 !important;
    margin-right: $global-size-spacing-large*2 !important;
  }

  #message {
    text-align: center;
    font-size: $global-size-font-small;
    padding: $global-size-spacing-small + $global-size-spacing-large $global-size-spacing-large $global-size-spacing-large $global-size-spacing-large*2;
    color: var(--ion-color-medium);
  }

  #ribbon {
    zoom: 1.5;
    position: absolute;
    top: 14px;
    right: $global-size-spacing-default;
  }

  #value {
    text-align: center;
    margin-top: $global-size-spacing-small;
  }
}