<ion-content>
  <div id="content">
    <ion-toolbar>
      <ion-title>Minhas conquistas</ion-title>
    </ion-toolbar>
    
    <ion-list>
      <ion-item>
        <ion-icon name="ribbon"></ion-icon>
        <ion-label class="title">Total de experiências</ion-label>
        <ion-badge *ngIf="myExperiences" class="bagde">{{myExperiences.experiences.length}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="trophy"></ion-icon>
        <ion-label class="title">Rolês descobertos</ion-label>
        <ion-badge *ngIf="myExperiences" class="bagde">{{myExperiences.opened}}</ion-badge>
      </ion-item>
    </ion-list>
   
    <ion-toolbar>
      <ion-title>Minhas experiências</ion-title>
    </ion-toolbar>
    
    <div id="experiences" *ngIf="myExperiences">
      <experience class="experience" *ngFor="let experience of myExperiences.experiences" [experience]="experience"></experience>
    </div>
  </div>
</ion-content>
