<ion-header>
  <ion-toolbar id="header">
    <div>
      <ion-avatar><img src="./../../assets/icon/favicon.ico"></ion-avatar>
      <ion-title>Add Nova Experiência</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="backgroundImage"><img src="{{currentPic}}"></div>
  <div id="content" >
    <form [formGroup]="form" (ngSubmit)="addExperience(form)">
      <ion-grid>
        <ion-row id="nameForm" justify-content-center>
          <tag *ngIf="nameChip" [color]="'light'" [size]="'large'" [close]="true" (onClose)="removeName()">{{name.value}}</tag>
          <tag *ngIf="nameChip" [icon]="'pin'" [color]="'danger'" [size]="'small'" style="margin-top: 8px">{{address.value}}</tag>
          <div *ngIf="!nameChip">
            <div class="formWarning" [style.visibility]="(submitting && form.controls.name?.errors?.required) ? 'visible' : 'hidden'">é necessário preencher o nome do rolê...</div>
            <display id="newRoleInput" [class.filledNameBackground]="form.controls.name?.valid">
              <ion-icon id="pinIcon" name="pin" color="danger"></ion-icon>
              <ion-input id="nameInput" formControlName="name" (keyup.enter)="addName()" (focusout)="addName()" type="text" color="light" maxlength="30" spellcheck="false" placeholder="digite o nome rolê"></ion-input>
              <div id="formNameWarning" class="formWarning" *ngIf="submitting && form.controls.name?.errors?.minlength">mínimo 3 caracteres...</div>
              <ion-icon id="optionsIcon" *ngIf="rolesAround?.length > 0" [class.onCurrentRole]="rolesAround?.length > 0" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('roles')"></ion-icon>
            </display>
          </div> 
        </ion-row>
        <ion-row id="rattingForm" justify-content-center>
          <div class="formWarning" *ngIf="submitting && form.controls.ratting?.invalid">é necessário avaliar o rolê...</div>
          <ratting
            [size]="'large'"
            [rate]="ratting.value" 
            (onRate)="ratting.setValue($event)">
          </ratting>
        </ion-row>
        <ion-row id="occasionForm" justify-content-center>
          <tag *ngIf="occasionChip" [icon]="'walk'" [color]="'success'" [close]="true" [close]="true" (onClose)="removeOccasion()">{{occasion.value}}</tag>
          <display *ngIf="!occasionChip" [class.filledOccasionBackground]="form.controls.occasion.value && form.controls.occasion?.valid">
            <ion-icon id="occasionIcon" name="walk" color="medium"></ion-icon>
            <ion-input id="occasionInput" formControlName="occasion" (keyup.enter)="addOccasion()" (focusout)="addOccasion()" type="text" color="light" size="large" maxlength="30" spellcheck="false" placeholder="ocasião"></ion-input>
            <div id="formOccasionWarning" class="formWarning" *ngIf="submitting && form.controls.occasion?.errors?.minlength">mínimo 2 caracteres...</div>
            <ion-icon id="optionsIcon" *ngIf="currentRole?.occasions[0]" [class.onCurrentRole]="currentRole?.occasions[0]" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('occasions')"></ion-icon>
          </display>
        </ion-row>
        <ion-row id="tagForm" justify-content-center>
          <tag *ngIf="tagChip" [close]="true" [color]="'light'" (onClose)="removeTag()">{{tag.value}}</tag>
          <display *ngIf="!tagChip" [class.filledTagBackground]="form.controls.tag.value && form.controls.tag?.valid">
            <ion-icon id="tagIcon" name="pricetag" color="medium"></ion-icon>
            <ion-input id="tagInput" formControlName="tag" (keyup.enter)="addTag()" (focusout)="addTag()" type="text" color="light" size="large" maxlength="30" spellcheck="false" placeholder="#hashtag"></ion-input>
            <div id="formTagWarning" class="formWarning" *ngIf="submitting && form.controls.tag?.errors?.minlength">mínimo 2 caracteres...</div>
            <ion-icon id="optionsIcon" *ngIf="currentRole?.tags[0]" [class.onCurrentRoleTag]="currentRole?.tags[0]" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('tags')"></ion-icon>
          </display>
        </ion-row>
        <ion-row id="imageForm" justify-content-center>
          <display id="imageDisplay" [class.filledBackground]="pic.value" (click)="addPicture()">
            <ion-icon name="camera" color="medium"></ion-icon>
            <ion-label color="medium">foto</ion-label>
          </display>
        </ion-row>
        <ion-row id="commentForm" justify-content-center>
          <display id="commentDisplay" [class.filledBackground]="form.controls.comment.value && form.controls.comment?.valid">
            <div id="commentInsideArea">
              <div id="commentInsideAreaHeader">
                <ion-icon name="text" color="medium" ></ion-icon>
                <ion-label color="medium">Comentário</ion-label>
              </div>
              <div id="formCommentWarning" class="formWarning" *ngIf="submitting && form.controls.comment?.invalid">mínimo 3 caracteres...</div>
              <ion-textarea id="commentInput" formControlName="comment" color="light" size="large" rows="1" maxlength="140" spellcheck="false"></ion-textarea>
            </div>
          </display>
        </ion-row>
      </ion-grid>
      
    </form>
  </div>
</ion-content>
<div id="submitButton" (click)="addExperience(form)" matRipple [matRippleCentered]="true">
  <ion-icon name="send" color="medium" size="large"></ion-icon>
</div>
