<ion-header id="header">
  <ion-toolbar>
    <ion-title>Adicionar Nova Experiência</ion-title>
  </ion-toolbar>
</ion-header>

<form *ngIf="contentReady" [formGroup]="form" (ngSubmit)="addExperience(form)">
  <ion-content id="content">
    <backgroundImageWrap [img]="currentPic">
      <ion-grid>

        <ion-row id="nameForm" justify-content-center>
          <role-tag *ngIf="name.value" [icon]="'pin'" [size]="'large'" [close]="true" (onClose)="name.setValue(null); tag.setValue(null); currentRole = null">{{name.value}}</role-tag>
          <div *ngIf="!name.value">
            <div id="newRoleTitle">
              <ion-icon name="trophy" size="large" color="warning"></ion-icon>
              <ion-label color="light">Novo Rolê</ion-label>
            </div>
            <div class="formWarning" *ngIf="form.controls.name?.invalid && submitted">é necessário preencher o nome do rolê...</div>
            <div id="newRoleInput">
              <ion-icon id="pinIcon" name="pin" color="warning"></ion-icon>
              <ion-input id="nameInput" (keyup.enter)="addName()" (focusout)="addName()" type="text" color="light" minlength="2" maxlength="20" placeholder="digite o nome rolê"></ion-input>
              <ion-icon id="optionsIcon" *ngIf="currentRoles?.length > 0" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('roles')"></ion-icon>
            </div>
          </div> 
        </ion-row>

        <ion-row id="rattingForm" justify-content-center>
          <div class="formWarning" *ngIf="form.controls.ratting?.invalid && submitted">é necessário avaliar o rolê...</div>
          <role-rating
            [size]="'large'"
            [rate]="ratting.value" 
            (onRate)="ratting.setValue($event)">
          </role-rating>
        </ion-row>

        <ion-row id="tagForm" justify-content-center>
          <role-tag *ngIf="tag.value" [close]="true" (onClose)="tag.setValue(null)">{{tag.value}}</role-tag>
          <div *ngIf="!tag.value">
            <ion-icon id="tagIcon" name="pricetag" color="warning"></ion-icon>
            <ion-input id="tagInput" (keyup.enter)="addTag()" (focusout)="addTag()" type="text" color="light" size="large" minlength="2" maxlength="20" placeholder="digite a tag do rolê"></ion-input>
            <ion-icon id="optionsIcon" *ngIf="currentRole?.tags[0]" name="arrow-dropdown" size="large" color="light" (click)="presentActionSheet('tags')"></ion-icon>
          </div>
        </ion-row>

        <ion-row id="imageForm" justify-content-center>
          <div [class.filledBackground]="pic.value" (click)="addPicture()">
            <ion-icon name="camera" color="warning"></ion-icon>
            <ion-label color="light">Adicionar foto</ion-label>
          </div>
        </ion-row>

        <ion-row id="commentForm" justify-content-center>
          <div [class.filledBackground]="comment.value">
            <div>
              <ion-icon name="text" color="warning" ></ion-icon>
              <ion-label color="light">Comentário</ion-label><div class="formCommentWarning" *ngIf="form.controls.comment?.invalid">mínimo 3 caracteres...</div>
            </div>
            <ion-textarea id="commentInput" formControlName="comment" color="light" size="large" rows="2" maxlength="140"></ion-textarea>
          </div>
        </ion-row>

      </ion-grid>

      <div id="submitForm">
        <div (click)="addExperience(form)">
          <ion-icon name="checkmark" color="success" size="large"></ion-icon>
        </div>
      </div>

    </backgroundImageWrap>
  </ion-content>
</form>