@import './../../styles/sizes.scss';

#content {

}

#header {
  & > div {
    display: flex;

    ion-avatar {
      height: $global-size-spacing-extraLarge + $global-size-spacing-small*2;
      width: $global-size-spacing-extraLarge + $global-size-spacing-large*2;
      margin: $global-size-spacing-large + $global-size-spacing-small;
  
      img {
        width: $global-size-spacing-extraLarge + $global-size-spacing-large;
        height: $global-size-spacing-extraLarge + $global-size-spacing-large;
      }
    }
  
    ion-title {
      font-weight: 300;
    }
  }
}

#nameForm, #rattingForm, #occasionForm, #tagForm, #commentForm, #imageForm {
  margin-left: $global-size-spacing-extraLarge;
  margin-right: $global-size-spacing-extraLarge;
}

#nameForm, #rattingForm, #occasionForm {
  margin-top: $global-size-spacing-extraLarge;
}

#tagForm, #imageForm, #commentForm {
  margin-top: $global-size-spacing-large;
}

#nameForm {
  height: $global-size-spacing-extraLarge*2 + $global-size-spacing-large;

  tag {
    max-width: 100%;
  }

  & > div {
    width: 100%;

    #newRoleTitle {
      text-align: center;
      margin-bottom: $global-size-spacing-large*2;

      & > ion-icon {
        vertical-align: bottom;
      }

      & > ion-label {
        font-size: $global-size-font-large;
        margin-left: $global-size-spacing-default;
      }
    }

    #newRoleInput {
      display: flex;
  
      #pinIcon {
        height: 100%;
        padding-left: $global-size-spacing-default;
      }
  
      #optionsIcon {
        height: 100%;
        padding-right: $global-size-spacing-default;
      }
    }
  }
}

#rattingForm {
  
  ratting {
    zoom: 1.3;
  }
}

#tagForm {
  height: $global-size-spacing-extraLarge + $global-size-spacing-large;

  display {
    width: 100%;
    display: flex;

    #tagIcon {
      height: 100%;
      padding-left: $global-size-spacing-large;
    }

    #optionsIcon {
      height: 100%;
      padding-right: $global-size-spacing-default;
    }
  }
}

#occasionForm {
  height: $global-size-spacing-extraLarge + $global-size-spacing-large;

  display {
    width: 100%;
    display: flex;

    #occasionIcon {
      height: 100%;
      padding-left: $global-size-spacing-large;
    }

    #optionsIcon {
      height: 100%;
      padding-right: $global-size-spacing-default;
    }
  }
}

#imageDisplay {
  width: 100%;

  ion-icon {
    height: 38px;
    margin-left: $global-size-spacing-large;
  }

  ion-label {
    margin-top: 12px;
    margin-left: $global-size-spacing-large;
  }
}

#commentDisplay {
  width: 100%;

  #commentInsideArea {
    width: 100%;
    padding: $global-size-spacing-large;

    & > div {
      display: flex;
      
      & > ion-label {
        vertical-align: top;
        margin-left: $global-size-spacing-large;
      }
    }
  }
}

#submitForm {
  height: $global-size-spacing-extraLarge*2;
  width: 100%;
  position: absolute;

  & > div {
    width: 70px;
    height: 70px;
    float: right;
    top: -$global-size-spacing-large - $global-size-spacing-extraLarge;
    right: $global-size-spacing-extraLarge;
    border-radius: 35px;
    background-color: rgba(var(--ion-color-light-rgb), 1);

    & > ion-icon {
      zoom: 1.3;
      margin-top: 11px;
      margin-left: 14px;
    }
  }
}

.formWarning {
  font-size: $global-size-font-default;
  color: var(--ion-color-danger-tint);
  margin-top:  $global-size-spacing-default;
  margin-bottom:  $global-size-spacing-default;
}

#formNameWarning, #formTagWarning, #formOccasionWarning, #formCommentWarning {
  position: absolute;
  left: 125px;

}

#formNameWarning, #formTagWarning, #formOccasionWarning {
  padding-top: $global-size-spacing-small;
}

#formCommentWarning {
  padding-top: $global-size-spacing-large;
}

.filledNameBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-danger-rgb), .1) !important;
}

.filledOccasionBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-success-rgb), .1) !important;
}

.filledTagBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-light-rgb), .1) !important;
}

.filledBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-light-rgb), .1) !important;
}

.onCurrentRole {
  animation: onCurrentRole .5s;
}

.onCurrentRoleTag {
  animation: onCurrentRole .5s;
  animation-delay: .3s;
}

@keyframes onCurrentRole {
  from { 
    transform: rotate(720deg);
  }
}