@import './../../styles/sizes.scss';

#content {
  min-height: 74vh;
}

#nameForm {
  height: $global-size-spacing-extraLarge*2;
  margin-top: $global-size-spacing-extraLarge;
  margin-bottom: $global-size-spacing-extraLarge;
  margin-right: $global-size-spacing-extraLarge + $global-size-spacing-large;
  margin-left: $global-size-spacing-extraLarge + $global-size-spacing-large;

  & > ion-icon {
    position: absolute;
    right: $global-size-spacing-large;
    top: $global-size-spacing-extraLarge + $global-size-spacing-large + $global-size-spacing-small;
  }

  & > div {

    & > div {
      text-align: center;

      & > ion-icon {
        vertical-align: bottom;
      }
  
      & > ion-label {
        font-size: $global-size-font-large;
        margin-left: $global-size-spacing-default;
      }
    }

    & > ion-input {
      margin-top: $global-size-spacing-large;
    }
  }
}

#rattingForm {
  zoom: 1.3;
}

#tagForm {
  margin-top: $global-size-spacing-extraLarge;
  margin-bottom: $global-size-spacing-extraLarge;
  margin-right: $global-size-spacing-extraLarge + $global-size-spacing-large;
  margin-left: $global-size-spacing-extraLarge + $global-size-spacing-large;

  & > ion-icon {
    position: absolute;
    right: $global-size-spacing-large;
  } 

  & > ion-input {
    margin-left: $global-size-spacing-extraLarge;
    margin-right: $global-size-spacing-extraLarge;
  }
}

#commentForm {
  padding: $global-size-spacing-extraLarge;

  & > div {
    width: 100%;
    padding: $global-size-spacing-large;
    border-radius: $global-size-spacing-small;
    background-color: rgba(255,255,255,0.1);

    & > div {

      & > ion-label {
        margin-left: $global-size-spacing-default;
      }
    }
  }
}

#imageForm {

  & > ion-button {
    width: 50%;
    position: absolute;
    bottom: $global-size-spacing-large;
  }
}