@import './../../styles/sizes.scss';

#header {
  & > div {
    display: flex;

    ion-avatar {
      height: $global-size-spacing-extraLarge + $global-size-spacing-small*2;
      width: $global-size-spacing-extraLarge + $global-size-spacing-large*2;
      margin: $global-size-spacing-large + $global-size-spacing-small;
  
      img {
        width: $global-size-spacing-extraLarge + $global-size-spacing-large;
        height: $global-size-spacing-extraLarge + $global-size-spacing-large;
      }
    }
  
    ion-title {
      font-weight: 300;
    }
  }
}

#backgroundImage {
  height: 100%;
  min-height: 450px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);

  img {
    max-width: unset;
    height: 700px;
    opacity: .1;
  }
}

#content {
  height: 100%;
  min-height: 450px;
  position: absolute;
  overflow: auto;
  width: 100%;
}

#nameForm, #rattingForm, #occasionForm, #tagForm, #commentForm, #imageForm {
  margin-left: $global-size-spacing-extraLarge;
  margin-right: $global-size-spacing-extraLarge;
}

#nameForm, #rattingForm {
  margin-top: $global-size-spacing-extraLarge;
}

#occasionForm {
  margin-top: $global-size-spacing-large*2;
}

#tagForm, #imageForm, #commentForm {
  margin-top: $global-size-spacing-large;
}

#nameForm {
  height: $global-size-spacing-extraLarge*2 + $global-size-spacing-large;

  tag {
    max-width: 100%;
  }

  & > div {
    width: 100%;

    #newRoleTitle {
      text-align: center;
      margin-bottom: $global-size-spacing-large*2;

      & > ion-icon {
        vertical-align: bottom;
      }

      & > ion-label {
        font-size: $global-size-font-large;
        margin-left: $global-size-spacing-default;
      }
    }

    #newRoleInput {
      display: flex;
  
      #pinIcon {
        height: 100%;
        padding-left: $global-size-spacing-default;
      }
  
      #optionsIcon {
        height: 100%;
        padding-right: $global-size-spacing-default;
      }
    }
  }
}

#rattingForm {
  
  ratting {
    zoom: 1.3;
  }
}

#tagForm {
  height: $global-size-spacing-extraLarge + $global-size-spacing-large;

  display {
    width: 100%;
    display: flex;

    #tagIcon {
      height: 100%;
      padding-left: $global-size-spacing-large;
    }

    #optionsIcon {
      height: 100%;
      padding-right: $global-size-spacing-default;
    }
  }
}

#occasionForm {
  height: $global-size-spacing-extraLarge + $global-size-spacing-large;

  display {
    width: 100%;
    display: flex;

    #occasionIcon {
      height: 100%;
      padding-left: $global-size-spacing-large;
    }

    #optionsIcon {
      height: 100%;
      padding-right: $global-size-spacing-default;
    }
  }
}

#imageDisplay {
  width: 100%;

  ion-icon {
    height: 38px;
    margin-left: $global-size-spacing-large;
  }

  ion-label {
    margin-top: 12px;
    margin-left: $global-size-spacing-large;
  }
}

#commentForm {
  margin-bottom: $global-size-spacing-large;

  #commentDisplay {
    width: 100%;
  
    #commentInsideArea {
      width: 100%;
      padding: $global-size-spacing-large;
  
      #commentInsideAreaHeader {
        display: flex;
        
        & > ion-label {
          vertical-align: top;
          margin-left: $global-size-spacing-large;
        }
      }
  
      #commentInput {
        width: calc(100% - 70x);
      }
    }
  }
}

#submitButton {
  z-index: 4;
  position: absolute;
  $submitButton-size: 70px;
  width: $submitButton-size;
  height: $submitButton-size;
  top: calc(100% - #{$submitButton-size + $global-size-spacing-extraLarge});
  right: $global-size-spacing-extraLarge;
  border-radius: $submitButton-size/2;
  background-color: var(--ion-color-light);

  & > ion-icon {
    zoom: 1.3;
    margin-top: 11px;
    margin-left: 14px;
  }
}

.formWarning {
  font-size: $global-size-font-default;
  color: var(--ion-color-danger-tint);
  margin-top:  $global-size-spacing-default;
  margin-bottom:  $global-size-spacing-default;
}

#formNameWarning, #formTagWarning, #formOccasionWarning, #formCommentWarning {
  position: absolute;
  left: 125px;

}

#formNameWarning, #formTagWarning, #formOccasionWarning {
  padding-top: $global-size-spacing-small;
}

#formCommentWarning {
  padding-top: $global-size-spacing-large;
}

.filledNameBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-danger-rgb), .1) !important;
}

.filledOccasionBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-success-rgb), .1) !important;
}

.filledTagBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-light-rgb), .1) !important;
}

.filledBackground {
  border-radius: $global-size-spacing-small;
  background-color: rgba(var(--ion-color-light-rgb), .1) !important;
}

.onCurrentRole {
  animation: onCurrentRole .5s;
}

.onCurrentRoleTag {
  animation: onCurrentRole .5s;
  animation-delay: .5s;
}

@keyframes onCurrentRole {
  from { 
    transform: rotate(1080deg);
  }
}