@import './../../styles/sizes.scss';

ion-content {
  min-height: 91vh;
}

#content {
  min-height: 100%;
  padding-top: $global-size-spacing-extraLarge*2;
  padding-left: $global-size-spacing-extraLarge;
  padding-right: $global-size-spacing-extraLarge;
}

ion-label {
  overflow: hidden;
  height: $global-size-font-extraLarge;
  font-size: $global-size-font-extraLarge;
}

#address {
  zoom: 1.3;
  
  margin-top: $global-size-spacing-extraLarge*2;
}

#pics, #comments {
  border-radius: $global-size-spacing-small;
  background-color: rgba(0,0,0,0.2);
}

#occasions, #tags {
  
  & > div {
    display: flex;
    overflow: scroll;
    padding-top: $global-size-spacing-default;
  }
}

#bottomItems {
  position: absolute;
  width: calc(100vw - #{$global-size-spacing-extraLarge*2});
  bottom: $global-size-spacing-extraLarge;

  .occasion, .tag {
    margin-right: $global-size-spacing-small;
  }
  
  #pics {
    margin-top: $global-size-spacing-large;
    padding-left: $global-size-spacing-default;
    padding-right: $global-size-spacing-default;
  
    & > div {
      display: flex;
      overflow: scroll;
      padding-top: $global-size-spacing-default;
      padding-bottom: $global-size-spacing-default;
    }
  }
  
  .pic {
    max-width: unset;
    margin-right: $global-size-spacing-default;
    border-radius: $global-size-spacing-small/2;
  }
  
  #comments {
    height: 28vh;
    overflow: scroll;
    padding: $global-size-spacing-default;
    margin-top: $global-size-spacing-large;
  }
  
  .comment {
    margin-top: $global-size-spacing-small;
  }
}