@import './../../styles/sizes.scss';

$animation-duration: .5s;

#topBar {
  display: flex;

  ion-avatar {
    height: $global-size-spacing-extraLarge + $global-size-spacing-small*2;
    width: $global-size-spacing-extraLarge + $global-size-spacing-large*2;
    margin: $global-size-spacing-large + $global-size-spacing-small;

    img {
      position: absolute;
      width: $global-size-spacing-extraLarge + $global-size-spacing-large;
      height: $global-size-spacing-extraLarge + $global-size-spacing-large;
    }
  }

  .onSearchIcon {
    margin-right: -60px;
  }

  .onRefresh {
    animation: onRefresh $animation-duration*3;
  }

  @keyframes onRefresh {
    from {
      transform: scale(.8);
    }
  }
}

#content {
  height: 100%;

  #searchOptions {
    z-index: 20;
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: var(--ion-color-light);
  
    #notFoundTitle {
      margin: $global-size-spacing-extraLarge;
    }
  
    #options {
      display: grid;
      padding-top: $global-size-spacing-large;
      padding-bottom: $global-size-spacing-large;
      padding-right: $global-size-spacing-large*2;
      padding-left: $global-size-spacing-large*2;
  
      .option {
        width: fit-content;
        margin-top: $global-size-spacing-large;
      }
    }

    .onSearchOptions {
      animation: onSearchOptions $animation-duration/2;
    }
  
    @keyframes onSearchOptions {
      from {
        transform: translateY(100px);
      }
    }
  }

  .list {
    display: block;
    padding-top: $global-size-spacing-large + $global-size-spacing-default;
    padding-left: $global-size-spacing-large + $global-size-spacing-default;
    padding-right: $global-size-spacing-large + $global-size-spacing-default;
  }
}

.onSearchContent {
  overflow: hidden;
}