@import './../../styles/sizes.scss';

#topBar {
  display: flex;

  ion-avatar {
    height: $global-size-spacing-extraLarge + $global-size-spacing-small*2;
    width: $global-size-spacing-extraLarge + $global-size-spacing-large*2;
    margin: $global-size-spacing-large + $global-size-spacing-small;

    img {
      position: absolute;
      width: $global-size-spacing-extraLarge + $global-size-spacing-large;
      height: $global-size-spacing-extraLarge + $global-size-spacing-large;
    }
  }

  $animation-duration: 1s;

  .onNotSearchIcon {
    animation: onNotSearchIcon $animation-duration;
  }

  @keyframes onNotSearchIcon {
    from {
      margin-right: -60px;
    }
  }

  .onSearchIcon {
    animation: onSearchIcon $animation-duration;
    animation-fill-mode: forwards;
  }

  @keyframes onSearchIcon {
    to {
      margin-right: -60px;
    }
  }
}

#content {
  height: 100%;

  #searchOptions {
    z-index: 20;
    position: absolute;
    width: 100%;
    background-color: var(--ion-color-light);
  
    #notFoundTitle {
      margin: $global-size-spacing-extraLarge;
    }
  
    #options {
      display: grid;
      padding-top: $global-size-spacing-large;
      padding-bottom: $global-size-spacing-large;
      padding-right: $global-size-spacing-large*2;
      padding-left: $global-size-spacing-large*2;
  
      .option {
        width: fit-content;
        margin-top: $global-size-spacing-large;
      }
    }
  }

  .list {
    display: block;
    padding-top: $global-size-spacing-large + $global-size-spacing-default;
    padding-left: $global-size-spacing-large + $global-size-spacing-default;
    padding-right: $global-size-spacing-large + $global-size-spacing-default;
  }
  
  .categoryTabTitle {
    margin-left: $global-size-spacing-default;
  }
  
  .role {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(5vw - 10px);
    padding: $global-size-spacing-large;
  }
}

.swiper-zoom-container {
  text-align: unset !important;
}

.onSearchContent {
  overflow: hidden;
}