<ion-header>
  <ion-toolbar [class.onSearchToolBar]="onSearch">
    <div id="topBar">
      <ion-avatar [class.onSearchIcon]="onSearch" [class.onNotSearchIcon]="!onSearch && onStartSearch" [class.onRefresh]="onRefresh" (click)="refresh()"><img src="./../../assets/icon/favicon.ico"></ion-avatar>
      <ion-searchbar *ngIf="myList" (ionInput)="onSearchInput($event.target.value)" (ionFocus)="onSearchInput($event.target.value)" (ionCancel)="onSearch = false" (ionBlur)="onBlur($event)" showCancelButton="{{onSearch ? 'always' : false}}" color="light" autocomplete="true" placeholder="buscar rolê"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="content" [class.onSearchContent]="onSearch">
    <div id="searchOptions" *ngIf="onSearch">
      <div id="notFoundTitle" *ngIf="searchOptions.length === 0">
        <ion-title color="dark">nenhum role encontrado : (</ion-title>
      </div>
      <div id="options" [class.onSearchOptions]="onSearch" *ngIf="searchOptions.length > 0">
        <tag class="option" [icon]="'locate'" [color]="'medium'" [fontColor]="'dark'" (click)="onSearch = false">rolês próximos de você agora</tag>
        <tag class="option" *ngFor="let role of searchOptions" [icon]="'pin'" [color]="'danger'" [fontColor]="'dark'" (click)="selectRole(role)">{{role.name}}</tag>
      </div>
    </div>
    <div *ngIf="myList">
      <role-horizontalList class="list" *ngFor="let list of myList.myLists"
        [list]="list"
        [roles]="myList.roles">
      </role-horizontalList>
    </div>
    <tag *ngIf="!myList && error" [icon]="'sad'" [color]="'danger'" [fontColor]="'dark'">Não foi possível estabelescer conexão com a internet</tag>
  </div>
</ion-content>